/* the code below is for the home page */
head { color:#E0E0E7;
}

#hometop{ width:100%;
}

#homebanner{
border: 5px #e0e0e7;
Width:100%; height:75pt;
background-color:#e0e0e7;
}

.homeheaderlink{
  float:left;
  text-align:center;
  color:black;
}

.homeheaderlink:hover{
  color:#A31621;
}
  
  #homegardenlink{
   margin-left:34%;
}
   #homecontactlink{
   Margin-left:34%;
}
.TitleBackground{
  
	position:absolute;
	background-image: linear-gradient(to bottom right, #3bd4ff , #ebfaff);
	width:100%;
	height:10%;
	margin-top: -0.5%;
	margin-left: -0.5%;
}
.Title{
	color: #51cc35;
	/*background-color: orange;*/
	//this is the title
	position: absolute;
	margin-left: 35%;
	/*margin-bottom: 5%;*/
	margin-top: 1.2%;
	text-shadow: 2px 2px 4px #000000;
	font-size: 55px;
}

.menuBar{
	position:absolute;
	width:100%;
	height: 25%;
	background-image: linear-gradient(to bottom right, #faa628, #ebfaff);
	margin-top: -1.5%;
}

.homePageLink{
	position: absolute;
	margin-left: 1%;
}

.contactPageLink{
	position: absolute;
	margin-left: 45%;
}

.lawnMowingPageLink{
	position: absolute;
	margin-left: 90%;
}

.gardeningImage1{
	position: absolute;
	margin-top: 5%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 30%;
>>>>>>> 53ca0a0628a7a2c532cf9bbec247034da1e42c6b
}