/* the code below is for the home page */
head { color:#E0E0E7;
}


.homeheaderlink{
  float:left;
  text-align:center;
  color:black;
}

.homeheaderlink:hover{
  color:#A31621;
}
  
  #homegardenlink{
   margin-left:34%;
}
   #homecontactlink{
   Margin-left:34%;
}

#homep1{
  width:40%;
  float:left;
  margin-left:15%;
}

#pic1{
  width:80%;
  border-radius:50%;
}

#homep2{
  width:40%;
  margin-left:55%;
  float:left;
}

#pic2{
  width:80%;
  border-radius:50%;
}

#homep3{
  width:40%;
  margin-left:15%;
  float:left;
}

#pic3{
  width:80%;
  border-radius:50%;
}


#homep4{
  width:40%;
  float:left;
  margin-left:55%;
}

#pic4{
  width:80%;
  border-radius:50%;
}

/*p{
  font-size:20pt;
}

This is too general, it is interfering with my code
*/

ul{
  font-size:20pt;
}


/*// For Gardening page */
.TitleBackground{
  
	position:absolute;
	background-image: linear-gradient(to bottom right, #3bd4ff , #ebfaff);
	width:100%;
	height:10%;
	margin-top: -0.5%;
	margin-left: -0.5%;
}
.Title{
	color: #51cc35;
	/*background-color: orange;*/
	//this is the title
	position: absolute;
	margin-left: 35%;
	/*margin-bottom: 5%;*/
	margin-top: 1.2%;
	text-shadow: 2px 2px 4px #000000;
	font-size: 55px;
}

.menuBar{
	position:absolute;
	width:100%;
	height: 25%;
	background-image: linear-gradient(to bottom right, #faa628, #ebfaff);
	margin-top: -1.5%;
}

.homePageLink{
	position: absolute;
	margin-left: 1%;
}

.contactPageLink{
	position: absolute;
	margin-left: 45%;
}

.lawnMowingPageLink{
	position: absolute;
	margin-left: 90%;
}

.gardeningImage1{
	position: absolute;
	margin-top: 5%;
	margin-left: 10%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 30%;
}

.gardeningP1{
	position: absolute;
	margin-left: 14%;
	margin-top: 25%;
}

.gardeningImage2{
	position: absolute;
	margin-top: 5%;
	margin-left: 60%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 30%;
}

.gardeningP2{
	position: absolute;
	margin-left: 64%;
	margin-top: 25%;
}



.gardeningImage3{
	position: absolute;
	margin-top: 45%;
	margin-left: 15%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 20%;
	height: 1250%;
}

.gardeningP3{
	position: absolute;
	margin-left: 14%;
	margin-top: 65%;
}

.gardeningImage4{
	position: absolute;
	margin-top: 45%;
	margin-left: 65%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 25%;
	height: 1050%;
}

.gardeningP4{
	position: absolute;
	margin-left:64%;
	margin-top: 65%;
}


/*lawnMowing Page*/
.lawnImage1{
	position: absolute;
	margin-top: 5%;
	margin-left: 10%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 30%;
}

.lawnP1{
	position: absolute;
	margin-left: 12%;
	margin-top: 23%;
}

.lawnImage2{
	position: absolute;
	margin-top: 5%;
	margin-left: 60%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 30%;
}

.lawnP2{
	position: absolute;
	margin-left: 62%;
	margin-top: 23%;
}



.lawnImage3{
	position: absolute;
	margin-top: 45%;
	margin-left: 15%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 20%;
	height: 1250%;
}

.lawnP3{
	position: absolute;
	margin-left: 14%;
	margin-top: 65%;
}

.lawnImage4{
	position: absolute;
	margin-top: 45%;
	margin-left: 63%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 25%;
	height: 1050%;
}

.lawnP4{
	position: absolute;
	margin-left:64%;
	margin-top: 62%;
}




/*the code below is for the contact page*/

#helppic{
}

#phonepic{
}

#emailpic{
}

#peoplepic{
}

.contacts{
  margin-left:250pt;
  margin-top:-120pt;
}
.seperator{
  height:100pt;
}
